data/
venv/
.qodo
/home/hofonam/Project06/config.py
/home/hofonam/Project06/__pycache__
/home/hofonam/Project06/[A
/home/hofonam/Project06/[A.pub
config.py
/home/hofonam/Project06/__pycache__
C:\Users\Nam\Documents\Project06\dbt_packages
